<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>

     <add name="con" connectionString="Server=2b87f30e-c4a4-42a7-9310-a40000cb4b33.sqlserver.sequelizer.com;Database=db2b87f30ec4a442a79310a40000cb4b33;User ID=zhzgponfmfwzkacg;Password=ctudciZWQasUU8krYnyUcFqZ2QUYhMFfdi4DmGMUygFKqTzCcJemJsnDcBktvaPd;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>
